[submodule "math"]
	path = math
	url = https://github.com/boostorg/math
[submodule "config"]
	path = config
	url = https://github.com/boostorg/config
[submodule "type_traits"]
	path = type_traits
	url = https://github.com/boostorg/type_traits
[submodule "assert"]
	path = assert
	url = https://github.com/boostorg/assert
[submodule "throw_exception"]
	path = throw_exception
	url = https://www.github.com/boostorg/throw_exception
[submodule "mpl"]
	path = mpl
	url = https://www.github.com/boostorg/mpl
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "static_assert"]
	path = static_assert
	url = https://github.com/boostorg/static_assert
[submodule "utility"]
	path = utility
	url = https://github.com/boostorg/utility
[submodule "core"]
	path = core
	url = https://github.com/boostorg/core
[submodule "predef"]
	path = predef
	url = https://github.com/boostorg/predef
[submodule "format"]
	path = format
	url = https://github.com/boostorg/format
[submodule "optional"]
	path = optional
	url = https://github.com/boostorg/optional
[submodule "detail"]
	path = detail
	url = https://github.com/boostorg/detail
[submodule "move"]
	path = move
	url = https://github.com/boostorg/move
[submodule "smart_ptr"]
	path = smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "geometry"]
	path = geometry
	url = https://github.com/boostorg/geometry
[submodule "range"]
	path = range
	url = https://github.com/boostorg/range
[submodule "iterator"]
	path = iterator
	url = https://github.com/boostorg/iterator
[submodule "concept_check"]
	path = concept_check
	url = https://github.com/boostorg/concept_check
[submodule "variant"]
	path = variant
	url = https://github.com/boostorg/variant
[submodule "lexical_cast"]
	path = lexical_cast
	url = https://github.com/boostorg/lexical_cast
[submodule "numeric_conversion"]
	path = numeric_conversion
	url = https://github.com/boostorg/numeric_conversion
[submodule "integer"]
	path = integer
	url = https://github.com/boostorg/integer
[submodule "array"]
	path = array
	url = https://github.com/boostorg/array
[submodule "container"]
	path = container
	url = https://github.com/boostorg/container
[submodule "tuple"]
	path = tuple
	url = https://github.com/boostorg/tuple
[submodule "rational"]
	path = rational
	url = https://github.com/boostorg/rational
[submodule "function_types"]
	path = function_types
	url = https://github.com/boostorg/function_types
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/boostorg/algorithm
