[submodule "math"]
	path = math
	url = https://github.com/boostorg/math
[submodule "config"]
	path = config
	url = https://github.com/boostorg/config
[submodule "type_traits"]
	path = type_traits
	url = https://github.com/boostorg/type_traits
[submodule "assert"]
	path = assert
	url = https://github.com/boostorg/assert
[submodule "throw_exception"]
	path = throw_exception
	url = https://www.github.com/boostorg/throw_exception
[submodule "mpl"]
	path = mpl
	url = https://www.github.com/boostorg/mpl
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "static_assert"]
	path = static_assert
	url = https://github.com/boostorg/static_assert
[submodule "utility"]
	path = utility
	url = https://github.com/boostorg/utility
[submodule "core"]
	path = core
	url = https://github.com/boostorg/core
[submodule "predef"]
	path = predef
	url = https://github.com/boostorg/predef
[submodule "format"]
	path = format
	url = https://github.com/boostorg/format
[submodule "optional"]
	path = optional
	url = https://github.com/boostorg/optional
[submodule "detail"]
	path = detail
	url = https://github.com/boostorg/detail
[submodule "move"]
	path = move
	url = https://github.com/boostorg/move
[submodule "smart_ptr"]
	path = smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "geometry"]
	path = geometry
	url = https://github.com/boostorg/geometry
